/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-item {
  grid-column: span 1;
}

.tast {
  z-index: 9999999999999;
}

.perfil-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.perfil-foto {
  width: 100%;
}
